<!DOCTYPE html>
<html>

  <head>
    <title>Robots Are Our Friends</title>
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css"></link>
  </head>

  <body>

    <header>
      <h1>Robots Are Our Friends</h1>
    </header>

    <div id="app">

    <section id="create-website">
      <input id="new-website" placeholder="What website would you like to check?" type="text" />
    </section>

    <section id="websites">
    </section>

    </div>

    <!-- Templates -->

    <script type="text/template" id="website-item-template">
      <li class="website">
        <a href="<%= url %>"><%= title %></a>
      </li>
  </script>

    <script src="js/jquery-1.8.3.min.js"></script>
    <script src="js/underscore-min-1.4.3.js"></script>
    <script src="js/backbone-min-0.9.9.js"></script>
    <script src="js/bootstrap-min.js"></script>
    <script src="js/app.js"></script>

  </body>

</html>
